.benefits {
  background-image: url(/png/bgr_section2.png);
  width: 1440px;
  background-repeat: no-repeat;
  margin: 0 auto;


  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 190px;
    padding-bottom: 190px;
    
  }

  &__item {
    position: relative;
    &:nth-child(2n + 1) {
      margin-right: 114px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 66px;
    }

      &:nth-child(2n) {
    padding-top: 80px;
    padding-left: 45px;
  }

  &:nth-child(2n + 1){
    padding-top: 80px;
    padding-left: 180px;
  }
    
    width: 420px; 
    height: 210px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #EF1E23;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0%);
  }

  &__picture3 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -22%);
    width: 261px;
    height: 270px;

  }


  &__text {
    font-family: 'Ermilov';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #EF1E23;
    



  }

}

