.benefits {
  background-color: rgb(17, 17, 17);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/bck_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  &__title {
    font-family: "KTF Jermilov Solid";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: var(--color-white-primary);
    margin-top: 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 80px;
    padding-bottom: 170px;
  }

  &__item {
    position: relative;
    &:nth-child(2n + 1) {
      margin-right: 114px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 66px;
    }

    &:nth-child(2n) {
      padding-right: 70px;
      padding-top: 80px;
      padding-left: 45px;
    }

    &:nth-child(2n + 1) {
      padding-top: 80px;
      padding-left: 180px;
    }

    width: 420px;
    height: 210px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #ef1e23;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0%);
  }

  &__pictur2 {
    position: absolute;
    top: 20%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  &__picture3 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -22%);
    width: 261px;
    height: 270px;
  }

  &__picture4 {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-57%, -13%);
  }

  &__text {
    padding-right: 50px;
    font-family: "Ermilov";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #ef1e23;
  }
}
