header {
  position: relative;
  background: url(/img/bck_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
}

// header::before {
//   content: "";
//   position: absolute;
//   width: 1440px;
//   height: 100px;
//   top: 0;
//   left: 0;
//   background: linear-gradient(
//     180deg,
//     #101010 18.52%,
//     rgba(16, 16, 16, 0) 83.95%
//   );
// }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  &__header {
    fill: var(--color-red-primary);
  }
}
.menu-header {
  padding: 18px 0;
  display: flex;
  align-items: center;
  &__item {
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__link {
    font-family: "KTF Jermilov Solid";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4px;
    color: var(--color-white-primary);
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
