.section--bck {
  position: relative;
  background-color: rgb(17, 17, 17);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/bck_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  position: relative;

  height: 800px;
  padding-top: 50px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 0.9;
    color: var(--color-white-primary);
    margin-bottom: 35px;
  }
  &__promotion {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    color: var(--color-white-primary);
  }
  &__button {
    background: var(--color-red-primary);
    border-radius: 15px;

    color: var(--color-white-primary);
    padding: 18px 66px;
    font-weight: 700;
    font-size: 28px;
    line-height: 0.9;
    margin-left: 700px;
    margin-bottom: 30px;
  }
}

.hero-contact {
  width: 100%;
}
.info {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
    color: var(--color-white-primary);
  }
  &__item--flex {
    display: flex;
    align-items: center;
  }
  &__svg {
    margin-right: 16px;
    fill: var(--color-red-primary);
  }
}

.sale {
  position: absolute;
  right: 5%;
  top: -5%;
  width: 700px;
  height: 600px;
}

.breakaway-hero {
  position: absolute;
  width: 1440px;
  bottom: 0;
  left: 0;
}
